@import 'base/reset', 'layout/navbar';


video {
    position: relative;

    width: 100%;
    object-fit: cover;
    height: 100vh;
}

.video_text {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%);
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.video_text h3 {
    font-size: 24px;
    font-weight: bold;
}

.video_text h1 {

    font-size: 140px;
    font-weight: bold;
}

.video_text p {
    font-size: 30px;
    font-weight: lighter;
}



.btn_book {
    font-size: 20px;
    padding: 10px 20px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.btn_book:hover {
    background-color: white;
    color: black;
}

/* video end */


/* about_me start */
.about_me {
    margin-top: 60px;
    min-height: 60vh;
    display: flex;
    gap: 50px;
}

.about_me_text {

    display: flex;
    width: 40%;
    flex-direction: column;
    gap: 50px;
}

.about_me_text h1 {
    font-size: 50px;
    width: 40%;
}

.about_me_text p {
    font-size: 20px;
}


.about_me_text_button {
    display: flex;
    gap: 30px;
}

.about_me_text_button_one {
    font-size: 20px;
    padding: 10px 20px;
}

.about_me_text_button_two {
    font-size: 20px;
    padding: 10px 20px;
}

img {
    display: block;
    width: 100%;
    max-width: 1200px;
}

.about_me_text_button_one {
    background-color: black;
    color: white;
}

.about_me_text_button_one:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.about_me_text_button_two:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

/* about_me end */


/* help start */
#help {
    margin-top: 40px;
    background-image: url("https://static.wixstatic.com/media/5ae58bc939e44a8c8ac0dcafa8a5eb10.jpg/v1/fill/w_640,h_1730,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/5ae58bc939e44a8c8ac0dcafa8a5eb10.jpg");
}

.help {
    display: flex;
    flex-direction: column;
    gap: 50px;
    min-height: 70vh;
    padding: 40px 0px;
    align-items: center;
}

.more_services_btn {
    background-color: black;
    color: white;
    padding: 10px 30px;
    cursor: pointer;
}

.help_text {
    margin-top: 100px;
    font-size: 30px;
    font-weight: bold;
    width: 30%;
}

.big_card {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.card {
    width: calc(33% - 60px);
    padding: 20px 20px;
    border: 5px solid black;
    display: flex;
    flex-direction: column;
    min-height: 40vh;
    justify-content: space-between;
}

.card_upper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.card_lower {
    display: flex;
    justify-content: center;

}

.card_lower button {
    padding: 10px 20px;
    font-size: 20px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.card_about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.line {
    background-color: black;
    height: 2px;
    width: 80%;
}



/* help end */

/* contact start */
#contact {
    background-color: aqua;
}

.contact {
    display: flex;
    justify-content: space-around;
}

.contact_inputs {
    width: 50%;
    padding: 50px 0px;
    display: flex;
    gap: 30px;
    flex-direction: column;

}

.contact_inputs_full_name {
    display: flex;
    flex-direction: column;
}

.contact_inputs_full_name input {
    width: 100%;
    min-height: 50px;
    background-color: aqua;
    border: 1px solid black;
}

.contact_inputs_email input {
    width: 100%;
    min-height: 50px;
    background-color: aqua;
    border: 1px solid black;
}

.contact_inputs_subject input {
    background-color: aqua;
    border: 1px solid black;
    width: 100%;
    min-height: 50px;
}

.contact_inputs_message textarea {
    width: 100%;
    background-color: aqua;
    border: 1px solid black;
}

.contact_text_line {
    background-color: black;
    height: 2px;
    width: 3%;
}

.contact_text {
    padding: 50px 0px;
    display: flex;
    gap: 30px;
    flex-direction: column;


}

.contact_inputs_button {
    display: flex;
    justify-content: end;
}

.contact_btn_submit {
    cursor: pointer;
    padding: 10px 50px;
    background-color: black;
    color: white;
}

/* contact end */





/* fixed start */
.lets_chat {
    cursor: pointer;
    position: fixed;
    display: flex;
    gap: 20px;
    background-color: black;
    color: white;
    padding: 20px 30px;
    bottom: 0%;
    right: 5%;

}


.lets_chat p {
    font-size: 20px;
}

.lets_chat i {
    font-size: 20px;
}

.lets_chat_hidden {
    position: fixed;
    bottom: 0%;
    right: 5%;

    display: none;
}

.lets_chat_hidden i {
    border: 1px solid black;
    border-radius: 100%;
    color: white;
    background-color: black;
    padding: 20px;
}

/* fixed end */

@media only screen and (max-width: 1000px) {
    .about_me {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .video_text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .video_text h3 {
        font-size: 24px;
        font-weight: bold;
        width: 60%;
    }

    .video_text h1 {

        font-size: 60px;
        font-weight: bold;
    }

    .video_text p {

        font-size: 16px;
        font-weight: bold;
    }


    .about_me {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about_me_text {
        width: 100%;
    }

    /* about_me end */

    /* help start */
    .help_text {
        margin-top: 100px;
        font-size: 30px;
        font-weight: bold;
        width: 60%;
    }

    .big_card {
        display: flex;
        flex-wrap: wrap;
    }

    .card {
        width: 100%;

    }


    /* help end */

    /* contact start */
    .contact {
        display: flex;
        flex-direction: column;
    }

    .contact_inputs {
        width: 100%;
    }

    /* contact end */


    /* fixed start */
    .lets_chat_hidden {
        display: block;
    }

    .lets_chat {
        display: none;
    }

    /* fixed end */
}